{% extends 'nav.html' %}

{% block main %}
    <h1>Управление зонами</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p> ID <input type="text" name="id"> </p>
        <button class="btn btn-primary" name="add" type="submit">Создать</button>
        <button class="btn btn-warning" name="change" type="submit">Изменить</button>
        <button class="btn btn-danger" name="delete" type="submit">Удалить</button>
    </form>
    <br>
    <table class="table table-bordered table-striped">
        <tr>
            <th>ID погрузчика</th>
            <th>Тип</th>
            <th>Вместимость</th>
            <th>Доступно</th>
        </tr>
        {% for loader in loaders %}
        <tr>
            <td>{{loader.id}}</td>
            <td>{{loader.type}}</td>
            <td>{{loader.load_capacity}}</td>
            <td>{{loader.is_available}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}