{% extends 'nav.html' %}

{% block main %}
    <h1>{{user.role.name}}</h1>
    <ul>
        {% if user.role.name == 'manager' %}
        {% comment %} TODO: add links to manager pages {% endcomment %}
        <li><a href={% url 'products:index' %}>Управление товарами</a></li>
        <li><a href={% url 'warehouse:index' %}>Управление складскими зонами</a></li>
        <li><a href="#">Создание накладной на поставку товаров на склад</a></li>
        <li><a href="#">Инвентаризация и списание товаров</a></li>
        <li><a href={% url 'payroll:index' %}>Зарплата</a></li>
        {% elif user.role.name == 'supplier'%}
        <li><a href="#">Создание накладной на поставку товаров на склад</a></li>
        <li><a href="#">Приемка товара от поставщика</a></li>
        {% elif user.role.name == 'storekeeper'%}
        <li><a href="#">Приемка товара от поставщика</a></li>
        <li><a href="#">Формирование и обработка заказа</a></li>
        <li><a href="#">Инвентаризация и списание товаров</a></li>
        {% elif user.role.name == 'driver'%}
        <li><a href="#">Приемка товара от поставщика</a></li>
        <li><a href="#">Формирование и обработка заказа</a></li>
        {% elif user.role.name == 'customer' %}
        <li><a href="#">Формирование и обработка заказа</a></li>
        {% endif %}
    </ul>
{% endblock %}
